body {
    padding: 10px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 9px;
    font-size: 22px;
    font-family: cursive;
    color: rgb(0, 81, 255);
    text-align: center;
    background-color: rgb(245, 200, 227);
}

p {
    color:rgb(8, 92, 117);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    background-color: aliceblue;

}

img {
    width: 40rem;
    height: 30rem;
}

footer, p {
    padding: 65px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
